.guitar-neck {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, #8b4513, #a0522d);
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.headstock {
  width: 250px;
  height: 320px;
  background: linear-gradient(to right, #4f2304, #a0522d);
  border-radius: 8px 0 0 8px;
  position: relative;
  margin-right: -10px;
  margin-left: -10px;
  box-shadow: -1px 0 2px rgba(225, 225, 225, 0.1);
}

/* .tuning-pegs {
  display: flex;
  justify-content: space-around;
  padding: 10px;
} */

/* .tuning-peg {
  width: 20px;
  height: 20px;
  background: #c0c0c0;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */

.neck-body {
  flex: 1;
  position: relative;
  padding: 10px 0;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
  height: 300px;
  background: linear-gradient(to right, #361f0f9a, #361a0d0d);
  border-radius: 0 8px 8px 0;
  overflow: hidden;
}

.string {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Actual visual string line */
.string::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background: #757070;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 3;
}

/* Fret markers - I found out that there is a formula to calculate the number of frets based on the scale length and the number of strings. */
.neck-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: repeating-linear-gradient(
    to right,
    transparent 0%,
    transparent calc(100% / 24),
    #474646 calc(100% / 24),
    #474646 calc(100% / 24 + 2px),
    transparent calc(100% / 24 + 2px)
  );
  pointer-events: none;
  z-index: 2;
  width: 100%;
}

.fret-position {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #c0c0c0;
  width: calc(100% / 24); /* Match fret spacing */
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fret-position.active {
  color: #ffffff;
}

.fret-marker {
  width: 20px;
  height: 20px;
  background: #c0c0c0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #000;
  z-index: 2;
}

.nut {
  position: absolute;
  width: 8px;
  height: 100%;
  background: linear-gradient(to right, #ccc8c59a, #ccc8c50d);
  left: 0;
  top: 0;
  z-index: 3;
  border-radius: 2px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5);
}

.nut-inner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(192, 192, 192, 0.8),
    rgba(128, 128, 128, 0.8),
    rgba(192, 192, 192, 0.8)
  );
}
